<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<h2>My Profile</h2>
<p th:text="'Name: '+ ${name}">Default Name</p>
<p th:text="'Skin Type: '+ ${skintype}">Default Skin Type</p>
<p th:text="'Manipedi: '+ ${manipedi}">Default Manipedi</p>
<div id = "clientProfile">
</div>
<div id = "servicesMenu">
    <table th:each="facial : ${facials}">
        <tr th:text="${facial}"></tr>
    </table>


    <div th:if="${manipedi == 'manicure'}">
        <h3 th:replace="fragments :: manicureDescription"></h3>
    </div>

    <div th:if="${manipedi == 'pedicure'}">
        <h3 th:replace="fragments :: pedicureDescription"></h3>
    </div>
</div>
</body>
</html>